.env
node_modules
*yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/**/.yarn/*
packages/**/.medusa/*
examples/**/.yarn/*
examples/**/static
examples/**/.next
examples/**/.medusa
examples/**/.yalc
examples/**/yalc.lock

.DS_Store

.eslintcache

.idea
.turbo
**/dist
**/stats
.vscode
.zed

**/tsconfig.tsbuildinfo
