@import "tailwindcss";
@plugin "@tailwindcss/typography";

@config "../../tailwind.config.js";

.dark {
  --border-base: #323235;
  --button-inverted: rgba(255, 255, 255, 1);
  --contrast-fg-primary: rgba(0, 0, 0, 0.88);
}

:root {
  --gorgo-text-gradient: linear-gradient(
    127.93deg,
    #deba92 35.7%,
    #9f724e 61.98%,
    #32150c 96.98%
  );
  --buttons-accent: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(158, 96, 68, 0.4), 0px 0px 0px 1px rgba(158, 96, 68, 1);
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }
}

@theme {
  --breakpoint-lgish: 56rem;
}

@keyframes collapsibleDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes collapsibleUp {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.prose {
  @apply text-ui-fg-base container;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all text-ui-fg-subtle underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-ui-fg-subtle;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-transparent p-0;
  color: inherit;
  font-size: inherit;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-ui-fg-base;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-5 mb-3 text-ui-fg-base;
}

.prose h2 {
  @apply text-lg font-medium tracking-tight mt-5 mb-3 text-ui-fg-base;
}

.prose h3 {
  @apply text-lg font-medium tracking-tight mt-5 mb-3 text-ui-fg-base;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-5 mb-3 text-ui-fg-base;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose li {
  @apply text-ui-fg-base;
}

.prose strong {
  @apply text-ui-fg-base;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 0 !important;
  margin-bottom: 1.25em !important;
}

.bg-pattern {
  background-image: url("/pattern.svg");
}

.dark {
  .bg-pattern {
    background-image: url("/pattern-dark.svg");
  }
}

.animate-slide-bg {
  animation: slide-bg 90s linear infinite;
  background-repeat: repeat-x;
}

.animate-collapsible-down {
  animation: collapsibleDown 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.animate-collapsible-up {
  animation: collapsibleUp 300ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.max-w-content {
  max-width: 1200px;
}

.text-h1 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 500;
}

.text-h2,
.text-h3 {
  line-height: 160%;
  font-weight: 500;
}
