DB_USERNAME=postgres
DB_PASSWORD=postgres
CI=true

# TKassa configuration
TKASSA_TERMINAL_KEY=test-terminal   # don't change this
TKASSA_PASSWORD=test-password       # don't change this
CI_TKASSA_TERMINAL_KEY=             # change this to run contract tests
CI_TKASSA_PASSWORD=                 # change this to run contract tests

LOG_LEVEL=error