DB_USERNAME=postgres
DB_PASSWORD=postgres
CI=true

# YooKassa configuration
YOOKASSA_SHOP_ID=test-shop-id         # don't change this
YOOKASSA_SECRET_KEY=test-secret-key   # don't change this
CI_YOOKASSA_SHOP_ID=                  # change this to run contract tests
CI_YOOKASSA_SECRET_KEY=               # change this to run contract tests
